@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "All Role";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto"
       asp-controller="administration" asp-action="CreateRole">
        Add New Role
    </a>
    <section class="content">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->


            @foreach (var role in Model)
            {
            <div class="card card-primary">
                <div class="card-header">
                    Role Id : @role.Id
                </div>
                <!-- /.card-header -->

                <div class="card-body">
                    <h5 class="card-title">@role.Name</h5>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id">Edit</a>
                    <a href=""  class="btn btn-danger">Delete</a>
                </div>

            </div>
            }
            <!-- /.card -->
        </div>
    </section>
}

else
{
<section class="content">
    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">No Role created yet</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <h5 class="card-title">Use the button below to create a role</h5>"
            </div>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="administration" asp-action="CreateRole">
                Create Role
            </a>

        </div>
        <!-- /.card -->
    </div>
</section>
}
